name: Build & Push Data Image to OCIR

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to OCIR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.OCI_REGISTRY }}
          username: ${{ secrets.OCI_USERNAME }}
          password: ${{ secrets.OCI_AUTH_TOKEN }}

      - name: Build image
        run: |
          docker build -t ${{ secrets.OCI_REGISTRY }}/${{ secrets.OCI_NAMESPACE }}/custech/front:latest .

      - name: Push image
        run: |
          docker push ${{ secrets.OCI_REGISTRY }}/${{ secrets.OCI_NAMESPACE }}/custech/front:latest
